%h1
  = link_to @group.name, @group
  =_ 'Listing requests'

%p#notice= notice

.users
  - is_manager = @user && @group.manager?(@user)
  %table.table
    %thead
      %tr
        %th=_ :name
        %th=_ :created_at
        %th=_ 'admin menu'
    - @group.member_requests.each do |req|
      - user = req.user
      %tbody
        %tr
          %td= link_to user.name, user
          %td=_ date_time(user.created_at)
          %td.bold.update
            = link_to _(:confirm), confirm_group_membership_path(id: req.id, group_id: @group.id), method: :put, class: 'btn btn-primary'
            = link_to _(:reject), reject_group_membership_path(id: req.id, group_id: @group.id), method: :put, class: 'btn btn-danger'

.bottom_menu
  = link_to "部活「#{@group.name}」に戻る", @group, class: 'btn btn-warning'
  = link_to _('listing users') + "に戻る", group_roles_path(group_id: @group.id), class: 'btn btn-warning'
