= form_for [group, event, comment] do |f|
  -if comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :event_id
    = f.text_area :text, :size => '60x2'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'

