%p#notice= notice

- is_secret = @group.secret? && !@group.member?(current_user)

%table.table
  %tr
    - if @group.image_url?
      %td.logo
        .logo
          %img.logo{ :src => @group.image_src }
    %td.title
      %h1= @group.name
      %p.summary
        = @group.summary
        - if !is_secret and @group.description? and !params[:show_description]
          &#187;
          = link_to 'もっと詳しく', description_group_path(@group.id), class: 'btn btn-primary'
      .description
        - if !is_secret and params[:show_description]
          %p
            &#171;
            = link_to '説明を閉じる', group_path, class: 'btn btn-primary'

          != html_compiler(@group.description)

      .status.right
        %span.gray
          == #{_ :permission}:
          %b= [_(:Public), _('Must be allowed'), _(:Secret), 2][@group.permission]
          \/
          == #{_ :owner}:
          %b= link_to @group.owner.name, user_path(@group.owner.id)

- is_member = @group.member?(current_user)
- if !is_member and !@group.hidden?
  - if @group.public?
    %p.update= link_to _('join this group'), join_group_members_path(group_id: @group.id), method: :put, class: 'btn btn-primary'
  - elsif @group.requesting_user?(current_user)
    %p.update= link_to _('cancel request'), delete_request_group_members_path(group_id: @group.id), method: :put, class: 'btn btn-danger'
  - else
    %p.update= link_to _('ask to join this group'), request_to_join_group_members_path(group_id: @group.id), method: :put, class: 'btn btn-primary'

- unless is_secret
  .events
    %h2=_ :Events
    = render 'events', { group: @group, events: @events, user: current_user }
  .events_new
    - if is_member
      %p= link_to _('new event'), new_group_event_path(group_id: @group), class: 'btn btn-primary'

  - unless @group.hidden?
    .posts
      %h2=_ :Posts
      %table.table
        - @group.posts.order('created_at desc').limit(3).each do |post|
          %tbody
            %tr
              %td= user_icon post.user, :middle
              %td= link_to year_month_day(post.created_at), index_group_posts_path(group_id: @group.id, renge: post.idx)
              %td
                - if post.subject and !post.subject.empty?
                  %b= to_short post.subject, 20
                  \:
                = to_short post.text, 75
      %p= link_to _(@group.posts.count == 0 ? 'new post' : 'read more'), index_group_posts_path(group_id: @group.id, renge: "all"), class: 'btn btn-primary'

    .users.members
      %h2
        =_ :Users
        == (#{@group.users.count})
      %table.table
        %tr
          %th
          %th ユーザ名
          %th 直近10件参加数
          %th 過去参加数
          %th 役職
          - @events.each do |event|
            %td
              - link = link_to month_day(event.started_at), group_event_path(event.id)
              - if event.ended?
                = link
              - else
                %b= link
        -# @group.users.each do |user|
        - @members.each do |user|
          %tr
            %td
              = user_icon user, :middle
            %td{:class => @group.manager?(user) ? 'bold' : '' }
              = link_to "#{user.name}(#{user.attendance_count(@group)})", user_path(user.id)
            %td
              =# user.user_groups.first.recent_entry_count(10)
              = user.recent_entry_count(@group)
            %td
              = user.group_event_attendance(@group)
            %td
              - if @group.owner?(user)
                =_ :owner
              - else
                = user.role(@group) or _(user.status(@group))
      %p
        = link_to _('listing users'), group_roles_path(group_id: @group.id), class: 'btn btn-primary'
        - if @group.manager?(current_user) and !@group.public?
          - text = "#{_('listing requests')}(#{@group.requesting_users.count})"
          = link_to text, group_memberships_path(group_id: @group.id), class: 'btn btn-primary'

  .bottom_menu
    - if is_member and !@group.owner?(current_user) and !@group.hidden?
      %p.update= link_to _('leave this group'), leave_group_members_path(group_id: @group.id) ,method: :put, class: 'btn btn-warning'
    - if current_user and @group.owner?(current_user)
      %h2=_ 'Admin menu'
      = link_to 'Edit', edit_group_path(@group), class: 'btn btn-primary'
      - if @group.users.count <= 1
        %span
          = link_to 'Destroy', group_path(@group), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'
        %script
          document.getElementById("JSOK").style.display = "inline";
          document.getElementById("JSNG").style.display = "none";
