%h3= link_to @group.name, group_url(@group.id)
%h1=_'New event'

= render 'form', { event: @event, group: @group, last: @last}

.bottom_menu
  = link_to 'Back', group_path(@group.id), class: 'btn btn-warning'
