%h1
  - unless @group.hidden?
    = link_to @group.name, group_path(@group.id)
  = @event.title

%p#notice= notice
- if @event.canceled?
  %p#notice_cancel=_ 'This event is canceled!'

- if @event.image_url?
  .logo
    =image_tag @event.image_src

%table.table
  %tbody
    %tr
      %td== #{_ 'event owner'} :
      %td= link_to @event.owner.name, user_path(id: @event.owner.id)
  
    %tr
      %td== #{_ :date} :
      %td
        - s = @event.started_at
        - e = @event.ended_at
        = date_time(s)
        - if e > s
          == ...
          - if s.year == e.year and s.mon == e.mon and s.day == e.day
            = hour_min(e)
          - else
            = date_time(e)
    - if @event.limit?
      %tr
        %td== #{_ :Limit}:
        %td= @event.limit
    - if @event.place?
      %tr
        %td== #{_ :Place}:
        %td= @event.place
    - if @event.address?
      %tr
        %td== #{_ :Address}:
        %td= @event.address

- if @event.description?
  %hr
  .description
    != html_compiler(@event.description)

%hr
.state
  - if @event.ended?
    %p=_ 'This event has ended.'
  %b=_ 'Your state'
  \:
  - if current_user.nil?
    =_ :unknown
    - if @group.public?
      %span.atnd
        %span.attend= link_to _(:attend), attend_group_event_attendees_path(event_id: @event.id), method: :put, class: 'btn btn-primary'
    - else
      = link_to 'Please login...', login_path, class: 'btn btn-primary'
  - elsif atnd = current_user.atnd(@event)
    %span.atnd== #{_ atnd.state.capitalize}
    %span= link_to _(:cancel), delete_group_event_attendees_path(event_id: @event.id), method: :put, class: 'btn btn-danger'
  - elsif @group.member?(current_user)
    =_ :unknown
    %span.atnd
      %span.attend= link_to _(:attend), attend_group_event_attendees_path(event_id: @event.id), method: :put, class: 'btn btn-primary'
      %span.absent= link_to _(:absent), absent_group_event_attendees_path(event_id: @event.id), method: :put, class: 'btn btn-danger'
      %span.maybe= link_to _(:maybe), maybe_group_event_attendees_path(event_id: @event.id), method: :put, class: 'btn btn-warning'
  - else
    =_ :unknown
    - if @group.public?
      %span.atnd
        %span.attend= link_to _(:attend), attend_group_event_attendees_path(event_id: @event.id), method: :put, class: 'btn btn-primary'
    - else
      You are not a member of
      = link_to @group.name, group_path(@group.id), class: 'btn btn-warning'

%hr

.users.attendees
  %b.group_name
    =_ :Attendees
    - if @event.limit?
      == (#{@event.attendances.count}/#{@event.limit})
    - else
      == (#{@event.attendances.count})
  \:
  - @event.attendees.each do |user|
    = user_name(user)
  - if @event.waiting_attendees.count > 0
    \/
    %b.red=_ :WaitingAttendees
    \:
    %span.gray.waiting_attendees
      - @event.waiting_attendees.each do |user|
        = user_name(user)
.users.absentees
  - absentees = @event.absentees
  - maybees = @event.maybees
  %b.group_name
    =_ :Absentees
    == (#{absentees.size + maybees.size})
  \:
  - absentees.each do |user|
    = user_name(user)
  - if @event.maybees.count > 0
    \/
    %b=_ :Maybe
    \:
    %span.maybees
      - maybees.each do |user|
        = user_name(user)

%h2=_ 'Comments and Logs'
- if current_user and @group.member?(current_user)
  = render 'comments/form', comment: @comment, group: @group, event: @event

%table.comments.table
  %caption
    コメント一覧
  %thead
    %tr
      %th
      %th
        コメント者
      %th
        コメント内容
      %th
        コメント日時
      %th
        コメント詳細
  - @event.comments.order('created_at desc').each do |comment|
    %tbody
      %tr.comment
        %td
          = user_icon comment.user, :middle
        %td.bold
          = link_to comment.user_name, comment.user
        %td
          != comment_html_compiler(comment.text)
        %td
          = date_time(comment.created_at)
        %td
          = link_to 'コメント詳細', group_event_comment_path(group_id: @group.id, event_id: @event.id, id: comment.id), class: 'btn btn-primary'

- if current_user and @event.manager?(current_user)
  .admin_menu
    %h2=_ 'admin menu'
    = link_to _(:Edit), edit_group_event_path(group_id: @group.id, id: @event.id), class: 'btn btn-primary'
    - if @event.canceled?
      = link_to _('Be active'), be_active_group_event_path(group_id: @group.id, id: @event.to_param), method: :put
    - else
      = link_to _('Cancel Event'), cancel_group_event_path(group_id: @group.id, id: @event.to_param), method: :put, class: 'btn btn-warning'
    = link_to _(:Destroy), group_event_path(group_id: @group.id, id: @event.id), :confirm => 'Destroy event: Are you sure?', :method => :delete, class: 'btn btn-danger'

.bottom_menu
  - unless @group.hidden?
    = link_to "部活「#{@group.name}」に戻る", group_path(@group.id), class: 'btn btn-warning'
