= link_to '全部', "/groups/#{group.id}/posts/all", class: 'btn btn-primary'
= link_to '1-', "/groups/#{group.id}/posts/1-50", class: 'btn btn-primary'
= link_to '最新10', "/groups/#{group.id}/posts/l10", class: 'btn btn-primary'
