
= link_to "#{@group.name}に戻る", @group, class: 'btn btn-warning'

%hr

%h1
  =@group.name
  =_ :Posts

- @posts.each do |post|
  .post
    .head{:id => post.idx}
      == #{post.idx} : #{post.user_name} :
      = link_to date_time(post.created_at), index_group_posts_path(group_id: @group.id, renge: post.idx)
    .body
      %h3= post.subject
      != simple_html_compiler(post.text)

%hr

= render 'menu', group: @group

%hr

- if @group.member?(current_user)
  = render 'form', post: @post
