/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree ../../../vendor/assets
 *= require_tree .
*/

/*.actions input {
  border-style:solid;
  border-width:1px;
  border-color:#04a;
  background:#FFFFFF;
  color:#04a
}*/

@import "bootstrap";

.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.gray { color: #888888; }
.red { color: red; }
.small {
  font-size: 70%;
  line-height: 1.62;
}
.big {
  font-size: 150%;
  line-height: 1.62;
}
.bold { font-weight: bold; }
.nowrap { white-space: nowrap; }

.atnd_other {
  color: #4a4;
}

.atnd {
  font-weight: bold;
  color: #777;
}

.atnd_other {
  color: #4a4;
}

a {
  color: #000;
  &:hover {
    color: #099; }
}

img.user_icon_small {
  width: 18px;
  border-radius: 4px;
}

img.user_icon_middle {
  width: 32px;
  border-radius: 4px;
  vertical-align: middle;
}

img.user_icon_big {
  width: 80px;
  border-radius: 8px;
  vertical-align: middle;
}

html {
  font-size: 14px;
}

h1 {
  margin: 24px 0;
}

h1 a {
  color: #666;
  text-decoration: none;
}

h2 {
  margin-top: 44px;
  margin-bottom: 24px;
}

hr {
  color: #eee;
  background-color: #eee;
}

div.description {
  h1, h2, h3, h4 {
    clear:both;
  }

  .amazon_image {
    margin: 0 8px 12px 8px;
    padding: 6px 4px;
    border: 1px solid #ddd;
    float: left;
    border-radius: 4px;
    img {
      margin: 0;
      padding: 0;
      vertical-align: bottom;
    }
  }
}

div.events {
  div.logo {
    margin: 16px 0;
    padding: 3px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    img {
      margin: 0px 0px -4px 0px;
      max-width: 670px;
      max-height: 670px;
      border-radius: 4px;
    }
  }

  div.description {
    margin: 16px 0;
  }
}

div.groups {
  td.logo {
    vertical-align: top;
    div.logo {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      min-width: 104px;
      height: 104px;
      border: 1px solid #ccc;
      border-radius: 10px;
      img {
        margin: 0px 0px -4px 0px;
        max-width: 100px;
        max-height: 100px;
        border-radius: 8px;
      }
    }
  }
  td.title {
    padding-left: 12px;
    h1 {
      margin: 0;
    }
  }

  div.description {
    margin: 16px 0;
    /*padding: 12px;
    color: #000;
    background-color: #eee;*/
  }

  .posts {
    td {
      padding-top: 4px;
      padding-right: 2px;
      vertical-align: top;
    }
  }
}

div.events {
  div.state {
    margin-top: 12px;
    padding: 8px 0;
    font-size: 18px;
    p {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 18px;
      color: gray;
    }
    b {
      font-size: 18px;
    }
    .atnd {
      span.attend {
        font-size: 32px;
      }
      span {
        margin: 0px 2px;
      }
    }
  }

  div.users {
    margin: 16px 0;
    line-height: 1.8;
    b.group_name {
      font-size: 18px;
    }
    .name {
      margin: 0 2px;
    }
    img.user_icon_small {
      margin-left: 4px;
      margin-right: 2px;
      margin-bottom: 2px;
      vertical-align: middle;
    }
  }

  div.comment {
    margin: 16px 0;
  }

  table.comments {
    td {
      padding-top: 4px;
      padding-right: 2px;
      vertical-align: top;
    }
  }
}

/* -- */
div.border {
  margin: 4px;
  border: 1px solid #ccc;
}

body {
  padding-top: 30px;
  text-align: left;
}

div.content {
  margin: 8px 16px;
  width: 680px;
  text-align: left;
}

div.topmenu {
  text-align: left;
}

div.bottom_menu {
  margin-top: 16px;
}

div.footer a:link {
  color: #777;
  text-decoration: none;
}

div.post {
  margin: 32px 0;
}

div.post .head {
  margin: 6px 0;
}

div.post .body {
  margin-left: 22px;
}

div.post_menu {
  margin-top: 16px;
  margin-bottom: 6px;
}

/* テーブル */
.members table, .members tr, .members th, .members td {
  border: 1px solid #aaa;
  padding: 5px;
  border-collapse: collapse;
  border-spacing: 0px;
}
