!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title== Bu#{@subtitle}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  %body
    .container-fluid
      .row-fluid
        .span12
          .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner
              %ul.nav
                - if current_action?('welcome', 'index')
                  %li.active
                    = link_to 'Home', root_path
                - else
                  %li
                    = link_to 'Home', root_path
                - if current_user
                  %li
                    = link_to 'My page', my_path
                - if current_action?('welcome', 'about')
                  %li.active
                    = link_to 'About', about_path
                - else
                  %li
                    = link_to 'About', about_path
              %ul.nav.pull-right
                - if current_user
                  %li
                    = link_to 'Settings', edit_my_path
                  %li
                    = link_to "Sign out(#{current_user.name})", logout_path
                - else
                  %li
                    = link_to 'Sign in with twitter', '/auth/twitter'
      - if current_user and !current_user.mail?
        .input_mail
          %p.bold= link_to 'Please input your mail address', edit_my_path, class: 'btn btn-warning'
      .controller_name
        = yield
      .footer
        %p
          bu:
          = link_to '@dan5ya', 'http://twitter.com/dan5ya'
